<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla 1</title>
    <link rel="Stylesheet" href="/Documents/Html/Cv-Generator/src/main/resources/static/css/style.css">
</head>
<body>
    <div id="contenedor">
        
        <header>
            <h1>Nombre Completo</h1>
        </header>
        <header class="info">
            <ul>
                <li>Direccion</li>
                <li>Telefono</li>
                <li>Mail</li>
            </ul>
            
        </header>
    <main>
        <div class="detalles">
            <article class="formacion">
                <h2>Formacion</h2>
                
                <h4 class="lisma"><b>Inicio - fin</b></h4>
                    <p class="der">Titulacion</p>
                    <p class="der">Escuela</p>   
                
                    <h4 class="lisma"><b>Inicio - fin</b></h4>
                    <p class="der">Titulacion</p>
                    <p class="der">Escuela</p>
    
                <h4 class="lisma"><b>Inicio - fin</b></h4>
                    <p class="der">Titulacion</p>
                    <p class="der">Escuela</p>
    
            </article>
            <article>
                <h2>Experiencia</h2>
                <h4 class="lisma2">Año</h4>
                            <p class="iz">Puesto de trabajo</p>
                            <p class="iz">Empresa</p>
                
                <h4 class="lisma2">Año</h4>
                            <p class="iz">Puesto de trabajo</p>
                            <p class="iz">Empresa</p>
    
                <h4 class="lisma2">Año</h4>
                            <p class="iz">Puesto de trabajo</p>
                            <p class="iz">Empresa</p>
                
            </article>
        </div>
        
        <article>
            <h2 class="textocentrado">Idiomas</h2>
            <ul class="listadehabilidades">
                <li>Idioma 1
                    <progress value="50" max="100">50%</progress>
                </li>
                <li>Idioma 2
                    <progress value="50" max="100">50%</progress>
                </li>
                <li>Idioma 3
                    <progress value="50" max="100">50%</progress>
                </li>
            </ul>
        </article>
        <article>
            <h2 class="textocentrado">Habilidades</h2>
            <ul class="listadehabilidades">
                <li>Habilidad 1
                    <progress value="50" max="100">50%</progress>
                </li>
                <li>Habilidad 2
                    <progress value="50" max="100">50%</progress>
                </li>
                <li>Habilidad 3
                    <progress value="50" max="100">50%</progress>
                </li>
            </ul>
        </article>
    </main>  
            <footer>
                <h2 class="obj">Objetivo</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </footer>  
    </div>
    
  

</body>
</html>