@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--fuente: "Open Sans", sans-serif;
	--fuente-mono: Inconsolata, monospace, serif;
	--color-fuente: #131313;
	--color-fuente-dark: #fff;
	--color-enlace: #0d47a1;
	--color-enlace-dark: #4fc3f7;
	--color-fondo: #fff;
	--color-fondo-dark: #000;
	--tamanio-fuente-base: medium;
	--tamanio-fuente: 1rem;
	--tamanio-fuente-small: .889rem;
	--tamanio-fuente-medium: 1.424rem;
	--tamanio-fuente-large: 2.027rem;
	--ancho-fuente: 400;
	--ancho-fuente-alt: 700;
	--interlineado: 1.5;
	--interlineado-alt: 1.3;
	--espaciado: 1rem;
	--radio-borde: .5rem;
	--radio-borde-alt: 1rem;
	--color-borde: #333;
	--color-borde-alt: darkskyblue;
	--ancho-borde: 1px;
	--ancho-borde-alt: 3px;
	--duracion: .25s;
	--duracion-alt: .5s;
	--ancho-main: 70ch;
	--ancho-contenedor: calc(var(--ancho-main) * 1.618);
}

@viewport {
	width: device-width;
}

/*base*/
*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-size: var(--tamanio-fuente-base);
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
body {
	font: 1rem/var(--interlineado) var(--fuente);
	font-feature-settings: liga 1;
	color: var(--color-fuente);
	background-color: var(--color-fondo);
	text-rendering: optimizeSpeed;
	margin: 0;
	min-height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	line-height: var(--interlineado-alt);
	margin: 0 0 calc(var(--espaciado) / 2);
}
a {
	color: var(--color-enlace);
}
a:not(:hover) {
	text-decoration: none;
}
p, ul, ol, dl, legend, hr, figure {
	margin: 0 0 var(--espaciado);
	padding: 0;
}
input, select, textarea, button {
	font: inherit;
}
@media screen and (prefers-color-scheme: dark) {
	body {
		color: var(--color-fuente-dark);
		background-color: var(--color-fondo-dark);
	}
	a {
		color: var(--color-enlace-dark);
	}
}

.texto-izquierda {
	text-align: left;
}
.texto-centro {
	text-align: center;
}
.texto-derecha {
	text-align: right;
}
.texto-justificado {
	text-align: justify;
}

/*vh*/
.vh {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px; 
	width: 1px;
	overflow: hidden;
	border: 0; 
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	white-space: nowrap;
}

.controlForm {
	padding: calc(var(--espaciado) / 2);
	border: var(--ancho-borde) solid var(--color-borde);
	border-radius: var(--radio-borde);
	width: 100%;
	display: block;
}

.boton {
	--boton-color: #000;
	--boton-color-fondo: #bdbdbd;
	line-height: 1;
	font-weight: var(--ancho-fuente-alt);
	text-decoration: none;
	color: var(--boton-color);
	background: var(--boton-color-fondo) none;
	padding: calc(var(--espaciado) / 1.5);
	border-width: 0;
	border-radius: var(--radio-borde);
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
}
.boton:focus {
	outline: medium dotted;
	outline-offset: -.5em;
}
@media screen {
	.boton.boton-primario {
		--boton-color: #fff;
		--boton-color-fondo: #0d47a1;
	}
}

/*contenedor*/
.contenedor {
	margin-left: auto;
	margin-right: auto;
	width: min(90%, var(--ancho-contenedor));
}

/*layout*/
[aria-label="Cabecera principal"] {
	color: #fff;
	background-color: #68829d;
	margin-bottom: var(--espaciado);
	padding: calc(var(--espaciado) / 2) 0;
}
html.pagHome [aria-label="Cabecera principal"] {
	margin-bottom: 0;
}
[aria-label="Cabecera principal"] a {
	color: inherit;
}
[aria-label="Cabecera principal"] > .contenedor {
	display: flex;
	flex-direction: column;
	gap: calc(var(--espaciado) / 2) 0;
}
.headerBranding {
	font-size: var(--tamanio-fuente-medium);
	line-height: 1rem;
	padding: calc(var(--espaciado) / 2) 0;
}
[aria-label="Cabecera principal"] nav {
	display: flex;
	flex-flow: row wrap;
}
[aria-label="Cabecera principal"] nav > :is(a, [aria-current]) {
	font-weight: 600;
	line-height: var(--interlineado-alt);
	padding: calc(var(--espaciado) / 2);
}
[aria-label="Cabecera principal"] nav > a:hover {
	background-color: #0000007f;
}
[aria-label="Cabecera principal"] nav > [aria-current] {
	background-color: #000;
}
#mainWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--espaciado);
}
#mainWrap > aside {
	flex: 1 0
}
html:is(.pagFormLogin, .pagFormRegistro) #mainWrap main form:is([action="/usuario/login"], [action="/usuario/registro"]) > button[type="submit"] {
	margin: var(--espaciado) 0;
}
#listaPlantillas {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--espaciado) / 2);
}
#listaPlantillas > li > a {
	display: block;
	padding: calc(var(--espaciado) / 2);
	border: var(--ancho-borde) solid var(--color-borde);
	border-radius: var(--radio-borde);
}
#listaPlantillas > li > a img {
	vertical-align: middle;
}
#homeHero > .contenedor {
	max-width: var(--ancho-main);
}
#homeHeroPlantillas {
	margin-top: var(--espaciado);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--espaciado) 0;
}
#homeHeroPlantillas > img {
	max-width: 30%;
	height: auto;
}
@media screen {
	#homeHero {
		color: #fff;
		text-shadow: .1em .1em .1em black, -.1em .1em .1em black, -.1em -.1em .1em black, .1em -.1em .1em black;
		background-color: #4f5160;
		background-image: url(/images/fondo_home.jpg);
		background-position: center top;
		background-size: 100%;
		margin-bottom: var(--espaciado);
		padding: var(--espaciado);
	}
	#homeHero > .contenedor {
		min-height: 100vh;
	}
	#homeHero .boton {
		text-shadow: none;
	}
}
@media screen and (min-width: 768px) {
	[aria-label="Cabecera principal"] > .contenedor {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: calc(var(--espaciado) / 2);
	}
	#mainWrap {
		flex-direction: row;
	}
	#mainWrap > main {
		flex: 0 0 var(--ancho-main)
	}
	#homeHeroPlantillas > img {
		max-width: 15%;
	}
}
@media print {
	[aria-label="Cabecera principal"], #pie {
		display: none;
	}
}