<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>EGGENERATOR</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <mvc:resources mapping="/static/**" location="/static/" />
        <link rel="stylesheet" href="/css/css.css" />
        <link rel="stylesheet" href="/css/plantilla.css" />
        <link rel="icon" href="/img/logo-img.jpeg">

    </head>
    <body>
        <div th:replace="/plantilla :: header"/>
        <div>
            <div th:if="${param.exito}">
                Se cambio la contraseña de forma exitosa
            </div>
            <div th:if="${param.fallo}">
                Contraseña actual incorrecta
            </div>
            <form th:action="@{/registro/changePassword}" method="post">
                <input type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" name="email">
                <label>Contraseña actual:</label>
                <input type="text" name="passwordActual"/>
                <br/>
                <label>Nueva contraseña</label>
                <input type="text" name="passwordNueva"/>
                <button type="submit">Aceptar</button>
            </form>
        </div>
    </body>
</html>
