<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es" class="pagFormCrearCV">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/plantilla.css" />
        <link rel="stylesheet" href="/css/formulario2.css" />
        <link rel="stylesheet" href="/css/cvs/plantilla_1.css" />
        <link rel="shortcut icon" href="/img/logo-favicon.png" >
    </head>
    <body>
        <header th:replace="/plantilla :: header" class="nav"></header>
        <div class="contenedor-main-princ">
            <div class="contenedor-decoracion">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
            </div>
            <div class="nav-lateral">
                <ul>
                    <li class="list perfil active">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/usuario.png" /></span>
                            <span class="title">Perfil</span>
                        </a></li>
                    <li class="list resumen">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/editar.png" /></span>
                            <span class="title">Resumen</span>
                        </a>
                    </li>
                    <li class="list laboral">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/laboral.png" /></span>
                            <span class="title">Experiencia Laboral</span>
                        </a>
                    </li>
                    <li class="list academico">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/academico.png" /></span>
                            <span class="title">Formacion Academica</span>
                        </a>
                    </li>
                    <li class="list aptitud">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/aptitud.png" /></span>
                            <span class="title">Aptitud</span>
                        </a>
                    </li>
                    <li class="list conocimiento">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/conocimiento.png" /></span>
                            <span class="title">Conocimiento</span>
                        </a>
                    </li>
                    <li class="list idioma">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/idioma.png" /></span>
                            <span class="title">Idioma</span>
                        </a>
                    </li>
                    <li class="list plantilla">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/plantilla.png" /></span>
                            <span class="title">Plantilla</span>
                        </a>
                    </li>
                </ul>

            </div>
            <section class="cv">
                <div class="form">
                    <div class="form-decoracion">
                        <div class="square" style="--i:0;"></div>
                        <div class="square" style="--i:1;"></div>
                        <div class="square" style="--i:2;"></div>
                        <div class="square" style="--i:3;"></div>
                        <div class="square" style="--i:4;"></div>
                    </div>
                    <div id="perfil" class="item-form activo">
                        <div class="form-contenedor">
                            <h2>Perfil</h2>
                            <div class="linea"></div>
                            <form>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Nombre</span>
                                            <input type="text" name="nombre" id="i-nombre"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Apellido</span>
                                            <input type="text" name="nombre" id="i-apellido"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row7030">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Profesion</span>
                                            <input type="text" name="nombre" id="i-profesion"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Edad</span>
                                            <input type="number" name="nombre" id="i-edad"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row4060">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Telefono</span>
                                            <input type="number" name="nombre" id="i-telefono"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Correo</span>
                                            <input type="email" name="nombre" id="i-correo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Pais</span>
                                            <input type="text" name="nombre" id="i-nacionalidad"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Ciudad</span>
                                            <input type="text" name="nombre" id="i-ciudad"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row100">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Direccion</span>
                                            <input type="text" name="nombre" id="i-direccion"/>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="continuar">Continuar</button>
                            </form>
                        </div>
                    </div>
                    <div id="resumen" class="item-form">
                        <div class="form-contenedor">
                            <h2>Resumen</h2>
                            <div class="linea"></div>
                            <form>
                                <div class="row row100">
                                    <span class="text">Ingrese resumen de hasta 200 caracteres:</span>
                                    <textArea name="i-resumen" id="i-resumen"></textArea>
                                </div>
                                <button type="submit" class="continuar">Continuar</button>
                            </form>
                        </div>
                    </div>
                    <div id="laboral" class="item-form">
                        <div class="form-contenedor">
                            <h2>Experiencia laboral</h2>
                            <div class="linea"></div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputCheckBox">
                                            <div class="checkbox-contenedor">
                                                <input type="checkbox" id="i-laboral-activo" class="checkbox" value=""/>
                                                <span class="span"></span>
                                                <i class="indicator"></i>
                                            </div>
                                            <span class="text">Tiene experiencia laboral</span>
                                        </div>
                                    </div>
                                </div>
                            <div class="lista-trabajos" >
                                <ul id="lista-trabajos"></ul>
                            </div>
                            <form id="form-laboral">
                                <div class="row row100">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Puesto</span>
                                            <input type="text" name="nombre" id="i-puesto"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row100">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Lugar</span>
                                            <input type="text" name="nombre" id="i-puesto-lugar"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Desde</span>
                                            <input type="text" name="nombre" id="i-puesto-inicio"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Hasta</span>
                                            <input type="text" name="nombre" id="i-puesto-fin"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputCheckBox">
                                            <div class="checkbox-contenedor">
                                                <input type="checkbox" name="activo" id="i-puesto-activo" class="checkbox" value=""/>
                                                <span class="span"></span>
                                                <i class="indicator"></i>
                                            </div>
                                            <span class="text">Activo</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="i-agregar-trabajo" class="continuar">Agregar</button>
                                <button type="submit" class="continuar">Guardar</button>
                            </form>
                        </div>
                    </div>
                    <div id="academico" class="item-form">
                        <div class="form-contenedor">
                            <h2>Formacion Academica</h2>
                            <div class="linea"></div>
                            <form>
                                <div class="row row100">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Titulo</span>
                                            <input type="text" name="titulo" id="i-titulo"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Establecimiento</span>
                                            <input type="text" name="establecimiento" id="i-titulo-establecimiento"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Tipo</span>
                                            <select>
                                                <option>Universitario</option>
                                                <option>Terciario</option>
                                                <option>Secundario</option>
                                                <option>Primario</option>
                                                <option>Curso</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                    <div class="row row5050">
                                        <div class="col">
                                            <div class="inputBox">
                                                <span class="text">Desde</span>
                                                <input type="text" name="f_inicio" id="i-titulo-inicio"/>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="inputBox">
                                                <span class="text">Hasta</span>
                                                <input type="text" name="f_fin" id="i-titulo-fin"/>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row row5050">
                                    <div class="col">
                                        <div class="inputCheckBox">
                                            <div class="checkbox-contenedor">
                                                <input type="checkbox" name="activo" id="i-titulo-activo" class="checkbox" value=""/>
                                                <span class="span"></span>
                                                <i class="indicator"></i>
                                            </div>
                                            <span class="text">Activo</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="aptitud" class="item-form">
                        <div class="form-contenedor">
                            <h2>Aptitud</h2>
                            <div class="linea"></div>
                            <form>
                                <div class="row row100">
                                    <div class="col">
                                        <div class="inputBox">
                                            <span class="text">Nombre</span>
                                            <input type="text">
                                        </div> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="conocimiento" class="item-form">
                        <h2>Conocimiento</h2>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoConocimiento">Conocimiento</label>
                            <input type="text" name="conocimiento" class="controlForm" id="FormCrearCVCampoConocimiento">
                        </div>
                        <button type="submit" class="boton boton-primario" name="agregarOtroConocimiento" value="true">Agregar otro conocimiento</button>
                        <div class="card-conocimiento">
                            <div class="card-conocimiento-contenido">Un conocimiento</div>
                            <div class="card-conocimiento-opciones">
                                <button type="submit" class="boton">Modificar</button>
                                <button type="submit" class="boton">Eliminar</button>
                            </div>
                        </div>
                    </div>
                    <div id="idioma" class="item-form">
                        <h2>Idioma</h2>
                        <div id="parteIdiomas">
                            <div class="form-grupo">
                                <label for="FormCrearCVCampoIdioma">Idioma</label>
                                <input type="text" name="idioma" class="controlForm" id="FormCrearCVCampoIdioma">
                            </div>
                            <div class="form-grupo">
                                <label for="FormCrearCVCampoNivelIdioma">Nivel</label>
                                <select name="nivelIdioma" class="controlForm" id="FormCrearCVCampoNivelIdioma">
                                    <option disabled>(seleccione)</option>
                                    <option value="basico">básico</option>
                                    <option value="intermedio">intermedio</option>
                                    <option value="avanzado">avanzado</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="boton boton-primario" name="agregarOtroIdioma" value="true">Agregar otro idioma</button>
                        <div class="card-idioma">
                            <div class="card-idioma-contenido">
                                <ul role="list">
                                    <li>Inglés</li>
                                    <li>Intermedio</li>
                                </ul>
                            </div>
                            <div class="card-idioma-opciones">
                                <button type="submit" class="boton">Modificar</button>
                                <button type="submit" class="boton">Eliminar</button>
                            </div>
                        </div>
                    </div>
                    <div id="plantilla" class="item-form">
                        <h2>Plantilla</h2>
                        plantilla
                    </div>
                </div>
                <div class="vista-previa">
                    <div th:replace="/cvs/plantilla_1 :: plantilla_1" class="plantilla">
                        >>>>>>> e2541d50a63a5017f484c873cce084d4c50a38cc

                    </div>
                </div>
            </section>
        </div>
    </body>
    <script>

        const list = document.querySelectorAll('.list');
        const forms = document.querySelectorAll('.item-form');
        function activeLink() {
            list.forEach((item) => {
                item.classList.remove('active');
                ;
            });
            forms.forEach((form) => {
                form.classList.remove('activo');
                form.style.display = "none";
            });
            this.classList.add('active');

            var activo = document.getElementById(this.classList[1]);
            activo.classList.add('activo');
            activo.style.display = "flex";
        }
        list.forEach((item) => item.addEventListener('click', activeLink));
        var nombre = document.getElementById("i-nombre");
        var apellido = document.getElementById("i-apellido");
        var profesion = document.getElementById("i-profesion");
        var direccion = document.getElementById("i-direccion");
        var telefono = document.getElementById("i-telefono");
        var ciudad = document.getElementById("i-ciudad");
        var nacionalidad = document.getElementById("i-nacionalidad");
        var edad = document.getElementById("i-edad");
        var correo = document.getElementById("i-correo");
        var descripcion = document.getElementById("i-resumen");

        var cantTrabajos = 0;
        var puesto = document.getElementById("i-puesto");
        var puesto_lugar = document.getElementById("i-puesto-lugar");
        var puesto_inicio = document.getElementById("i-puesto-inicio");
        var puesto_fin = document.getElementById("i-puesto-fin");
        var puesto_activo = document.getElementById("i-puesto-activo");

        puesto_activo.oninput = function () {
            console.log(this.checked === true ? "activo" : "no activo");
        };

        nombre.oninput = function () {
            document.getElementById("p-nombre").innerHTML = this.value + " " + apellido.value;

        };
        apellido.oninput = function () {
            document.getElementById("p-nombre").innerHTML = nombre.value + " " + this.value;
        };
        profesion.oninput = function () {
            document.getElementById("p-profesion").innerHTML = this.value;
        };
        direccion.oninput = function () {
            if (this.value.trim() == "" && nacionalidad.value.trim() == "" && ciudad.value.trim() == "" && edad.value.trim() == "") {
                document.getElementById("p-aboutMe").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-direccion").innerHTML = "";
                else
                    document.getElementById("p-direccion").innerHTML = this.value;
                document.getElementById("p-aboutMe").style.display = "block";
            }
        };
        ciudad.oninput = function () {
            if (this.value.trim() == "" && nacionalidad.value.trim() == "" && direccion.value.trim() == "" && edad.value.trim() == "") {
                document.getElementById("p-aboutMe").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-ciudad").innerHTML = "CIUDAD: " + this.value;
                else
                    document.getElementById("p-ciudad").innerHTML = "CIUDAD: " + this.value;
                document.getElementById("p-aboutMe").style.display = "block";
            }
        };
        nacionalidad.oninput = function () {
            if (this.value.trim() == "" && ciudad.value.trim() == "" && direccion.value.trim() == "" && edad.value.trim() == "") {
                document.getElementById("p-aboutMe").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-pais").innerHTML = "";
                else
                    document.getElementById("p-pais").innerHTML = "PAIS: " + this.value;
                document.getElementById("p-aboutMe").style.display = "block";
            }
        };
        edad.oninput = function () {
            if (this.value.trim() == "" && ciudad.value.trim() == "" && direccion.value.trim() == "" && nacionalidad.value.trim() == "") {
                document.getElementById("p-aboutMe").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-edad").innerHTML = "";
                else
                    document.getElementById("p-edad").innerHTML = "EDAD: " + this.value;
                document.getElementById("p-aboutMe").style.display = "block";
            }
        };
        telefono.oninput = function () {
            if (this.value.trim() == "" && correo.value.trim() == "") {
                document.getElementById("p-contacto").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-telefono").innerHTML = "";
                else
                    document.getElementById("p-telefono").innerHTML = this.value;
                document.getElementById("p-contacto").style.display = "block";
            }
        };
        correo.oninput = function () {
            if (this.value.trim() == "" && telefono.value.trim() == "") {
                document.getElementById("p-contacto").style.display = "none";
            } else {
                if (this.value.trim() == "")
                    document.getElementById("p-correo").innerHTML = "";
                else
                    document.getElementById("p-correo").innerHTML = this.value;
                document.getElementById("p-contacto").style.display = "block";
            }
        };
        descripcion.oninput = function () {
            document.getElementById("p-resumen").innerHTML = this.value;
        };
//        puesto.oninput = function () {
//            var lista = document.getElementById("p-trabajos");
//            var li = document.createElement("li");
//            var subtitulo = document.createElement("div");
//            subtitulo.setAttribute("class","subtitle");
//            subtitulo.appendChild(document.createTextNode(i-puesto));
//            li.appendChild(subtitulo);
//            lista.appendChild(li);
//        };

        var agregarTrabajo = document.getElementById("i-agregar-trabajo");
        agregarTrabajo.onclick = function () {
            cantTrabajos++;
            /****FORM****/
            var lista_trabajos = document.getElementById("lista-trabajos");
            var info = document.createElement("li");
            info.setAttribute("id", "trabajo" + cantTrabajos);
            var texto = puesto.value + " - " + puesto_lugar.value + " - " + puesto_inicio.value + " - ";
            if (puesto_activo.checked) {
                texto += "actualidad";
            } else {
                texto += puesto_fin.value;
            }
            info.appendChild(document.createTextNode(texto));
            var eliminar = document.createElement("button");
            eliminar.setAttribute("id", "eliminar_trabajo" + cantTrabajos);

            eliminar.onclick = function () {
                document.getElementById("trabajo" + this.id.substring(16)).remove();
                document.getElementById("p-trabajo-" + this.id.substring(16)).remove();
            };

            eliminar.appendChild(document.createTextNode("X"));

            info.appendChild(eliminar);
            lista_trabajos.appendChild(info);

            /****CV****/
            var p_trabajos = document.getElementById("p-trabajos");
            var p_li = document.createElement("li");
            p_li.setAttribute("id", "p-trabajo-" + cantTrabajos);
            var subtitle = document.createElement("div");
            subtitle.setAttribute("class", "subtitle");
            subtitle.innerHTML = puesto.value;
            var tiempo = document.createElement("div");
            tiempo.setAttribute("class", "tiempo");
            var p_texto = puesto_lugar.value + " " + puesto_inicio.value + " - ";
            if (puesto_activo.checked)
                p_texto += "actualidad";
            else
                p_texto += puesto_fin.value;
            tiempo.appendChild(document.createTextNode(p_texto));

            p_li.appendChild(subtitle);
            p_li.appendChild(tiempo);
            p_trabajos.appendChild(p_li);

            /*vaciar form*/
            puesto.value = "";
            puesto_lugar.value = "";
            puesto_inicio.value = "";
            puesto_fin.value = "";
            puesto_activo.checked = false;
        };
        
        var formLaboral = document.getElementById("i-laboral-activo");
        
        formLaboral.onclick = function(){
            if(this.checked)
                document.getElementById("form-laboral").style.display = "block";
                else
                    document.getElementById("form-laboral").style.display = "none";
        }
        
    </script>
</html>
