<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/plantilla.css" />
        <link rel="stylesheet" href="/css/formulario2.css" />
        <link rel="icon" href="/img/logo-imgvector.svg">

    </head>
    <body>
        <div th:replace="/plantilla :: header" class="nav">

        </div>
        <div class="contenedor-main-princ">
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="color"></div>
            <div class="nav-lateral">
                <ul>
                    <li class="list perfil active">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/usuario.png"></span>
                            <span class="title">Perfil</span>
                        </a></li>
                    <li class="list resumen">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/editar.png"></span>
                            <span class="title">Resumen</span>
                        </a>
                    </li>
                    <li class="list laboral">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/laboral.png"></span>
                            <span class="title">Experiencia Laboral</span>
                        </a>
                    </li>
                    <li class="list academico">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/academico.png"></span>
                            <span class="title">Formacion Academica</span>
                        </a>
                    </li>
                    <li class="list aptitud">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/aptitud.png"></span>
                            <span class="title">Aptitud</span>
                        </a>
                    </li>
                    <li class="list conocimiento">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/conocimiento.png"></span>
                            <span class="title">Conocimiento</span>
                        </a>
                    </li>
                    <li class="list idioma">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/idioma.png"></span>
                            <span class="title">Idioma</span>
                        </a>
                    </li>
                    <li class="list plantilla">
                        <a href="#">
                            <span class="icon"><img src="/img/formulario/plantilla.png"></span>
                            <span class="title">Plantilla</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="form">
                <div class="square" style="--i:0;"></div>
                <div class="square" style="--i:1;"></div>
                <div class="square" style="--i:2;"></div>
                <div class="square" style="--i:3;"></div>
                <div class="square" style="--i:4;"></div>
                <div id="perfil" class="item-form activo">
					<div class="form-grupo">
						<label for="FormCrearCVCampoNombre">
							Nombre
							<span class="vh">(requerido)</span>
							<span aria-hidden="true">*</span>
						</label>
						<input type="text" name="nombre" class="controlForm" id="FormCrearCVCampoNombre" required>
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoApellido">
							Apellidos
							<span class="vh">(requerido)</span>
							<span aria-hidden="true">*</span>
						</label>
						<input type="text" name="Apellido" class="controlForm" id="FormCrearCVCampoApellido" required>
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoDireccion">
							Dirección
							<span class="vh">(requerido)</span>
							<span aria-hidden="true">*</span>
						</label>
						<input type="text" name="Direccion" class="controlForm" id="FormCrearCVCampoDireccion" required>
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoCiudad">
							Ciudad
							<span class="vh">(requerido)</span>
							<span aria-hidden="true">*</span>
						</label>
						<input type="text" name="Ciudad" class="controlForm" id="FormCrearCVCampoCiudad" required>
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoTelefono">Teléfono</label>
						<input type="text" name="Telefono" class="controlForm" id="FormCrearCVCampoTelefono">
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoEmail">
							E-mail
							<span class="vh">(requerido)</span>
							<span aria-hidden="true">*</span>
						</label>
						<input type="email" name="email" class="controlForm" id="FormCrearCVCampoEmail" required>
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoFechaNacimiento">Fecha de nacimiento</label>
						<input type="date" name="FechaNacimiento" class="controlForm" id="FormCrearCVCampoFechaNacimiento">
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoNacionalidad">Nacionalidad</label>
						<input type="text" name="Nacionalidad" class="controlForm" id="FormCrearCVCampoNacionalidad">
					</div>
                </div>
                <div id="resumen" class="item-form">
				<div class="form-grupo">
					<label for="FormCrearCVCampoResumen">Resumen</label>
					<textarea name="resumen" id="FormCrearCVCampoResumen" cols="30" rows="10" class="controlForm"></textarea>
				</div>
                </div>
                <div id="laboral" class="item-form">
                    <div class="form-grupo">
                        <label for="FormCrearCVCampoCantidadTrabajos">Cantidad de trabajos</label>
                        <input type="number" name="cantidadTrabajos" class="controlForm" id="FormCrearCVCampoCantidadTrabajos">
                    </div>
                    <div id="parteLaboral">
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoTrabajoNombre">Nombre</label>
                            <input type="texto" name="trabajoNombre" class="controlForm" id="FormCrearCVCampoTrabajoNombre">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoTrabajoDesde">Desde</label>
                            <input type="number" name="trabajoDesde" class="controlForm" id="FormCrearCVCampoTrabajoDesde">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoTrabajoHasta">Hasta</label>
                            <input type="number" name="trabajoHasta" class="controlForm" id="FormCrearCVCampoTrabajoHasta">
                        </div>
                    </div>
                </div>
                <div id="academico" class="item-form">
                    <div class="form-grupo">
                        <label for="FormCrearCVCampoCantidadAcademicos">Cantidad de instituciones</label>
                        <input type="number" name="cantidadAcademicos" class="controlForm" id="FormCrearCVCampoCantidadAcademicos">
                    </div>
                    <div id="parteAcademico">
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAcademicoNombre">Nombre</label>
                            <input type="texto" name="AcademicoNombre" class="controlForm" id="FormCrearCVCampoAcademicoNombre">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAcademicoDesde">Desde</label>
                            <input type="number" name="AcademicoDesde" class="controlForm" id="FormCrearCVCampoAcademicoDesde">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAcademicoHasta">Hasta</label>
                            <input type="number" name="AcademicoHasta" class="controlForm" id="FormCrearCVCampoAcademicoHasta">
                        </div>
                    </div>
                </div>
                <div id="aptitud" class="item-form">
                    <div class="form-grupo">
                        <label for="FormCrearCVCampoCantidadAptitudes">Cantidad de aptitudes</label>
                        <input type="number" name="cantidadAptitudes" class="controlForm" id="FormCrearCVCampoCantidadAptitudes">
                    </div>
                    <div id="parteAptitud">
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAptitudNombre">Nombre</label>
                            <input type="texto" name="AptitudNombre" class="controlForm" id="FormCrearCVCampoAptitudNombre">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAptitudDesde">Desde</label>
                            <input type="number" name="AptitudDesde" class="controlForm" id="FormCrearCVCampoAptitudDesde">
                        </div>
                        <div class="form-grupo">
                            <label for="FormCrearCVCampoAptitudHasta">Hasta</label>
                            <input type="number" name="AptitudHasta" class="controlForm" id="FormCrearCVCampoAptitudHasta">
                        </div>
                    </div>
                </div>
                <div id="conocimiento" class="item-form">
					<div class="form-grupo">
						<label for="FormCrearCVCampoCantidadConocimiento">Cantidad de conocimientos</label>
						<input type="number" name="cantidadConocimiento" class="controlForm" id="FormCrearCVCampoCantidadConocimiento">
					</div>
                    <div id="parteConocimientos">
					<div class="form-grupo">
						<label for="FormCrearCVCampoConocimiento">Conocimiento</label>
						<input type="text" name="conocimiento" class="controlForm" id="FormCrearCVCampoConocimiento">
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoNivelConocimiento">Nacionalidad</label>
                                                <select name="nivelConocimiento" class="controlForm" id="FormCrearCVCampoNivelConocimiento">
                                                    <option disabled>(seleccione)</option>
                                                    <option value="basico">básico</option>
                                                    <option value="intermedio">intermedio</option>
                                                    <option value="avanzado">avanzado</option>
                                                </select>
					</div>
                    </div>
                </div>
                <div id="idioma" class="item-form">
					<div class="form-grupo">
						<label for="FormCrearCVCampoCantidadIdiomas">Cantidad de idiomas</label>
						<input type="number" name="cantidadIdiomas" class="controlForm" id="FormCrearCVCampoCantidadIdiomas">
					</div>
                    <div id="parteIdiomas">
					<div class="form-grupo">
						<label for="FormCrearCVCampoIdioma">Idioma</label>
						<input type="text" name="idioma" class="controlForm" id="FormCrearCVCampoIdioma">
					</div>
					<div class="form-grupo">
						<label for="FormCrearCVCampoNivelIdioma">Nacionalidad</label>
                                                <select name="nivelIdioma" class="controlForm" id="FormCrearCVCampoNivelIdioma">
                                                    <option disabled>(seleccione)</option>
                                                    <option value="basico">básico</option>
                                                    <option value="intermedio">intermedio</option>
                                                    <option value="avanzado">avanzado</option>
                                                </select>
					</div>
                    </div>
                </div>
                <div id="plantilla" class="item-form">
                    plantilla
                </div>
            </div>
            <div class="vista-previa">

            </div>
        </div>
    </body>
    <script>
        const list = document.querySelectorAll('.list');
        const forms = document.querySelectorAll('.item-form');
        function activeLink() {
            list.forEach((item) => {
                item.classList.remove('active');
                ;
            });
            forms.forEach((form) => {
                form.classList.remove('activo');
                form.style.display = "none";
            });
            this.classList.add('active');

            var activo = document.getElementById(this.classList[1]);
            activo.classList.add('activo');
            activo.style.display = "block";
        }
        list.forEach((item) => item.addEventListener('click', activeLink));
    </script>
</html>
