<!DOCTYPE html>
<html lang="es" class="pagFormLogin">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/css.css">
</head>
<body>
	<header aria-label="Cabecera principal">
		<div class="contenedor">
			<a href="/" class="headerBranding">CV Generator</a>
			<nav>
				<a href="/plantillas">Plantillas</a>
				<span aria-current="page">Iniciar sesión</span>
				<a href="/usuario/registro">Registrate</a>
				<a href="/home/contacto">Contacto</a>
			</nav>
		</div>
	</header>
	<div class="contenedor" id="mainWrap">
		<main>
			<header>
				<h1>Iniciar sesión</h1>
			</header>
			<form action="/usuario/login" method="post">
				<div>
					<label for="FormLoginCampoEmail">E-mail</label>
					<input type="email" name="email" class="controlForm" id="FormLoginCampoEmail" required>
				</div>
				<div>
					<label for="FormLoginCampoContrasenia">Contraseña</label>
					<input type="password" name="contrasenia" class="controlForm" id="FormLoginCampoContrasenia" required>
				</div>
				<button type="submit" class="boton boton-primario">Iniciar sesión</button>
				<a href="/usuario/crear" class="boton">Crear usuario</a>
			</form>
		</main>
	</div>
	<footer id="pie">
		<div class="contenedor">
			Copyright.
			<a href="/">Términos</a>
		</div>
	</footer>
</body>
</html>