<!DOCTYPE html>
<html lang="es" class="pagFormRegistro">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/css.css">
</head>
<body>
	<header aria-label="Cabecera principal">
		<div class="contenedor">
			<span class="headerBranding">CV Generator</span>
		</div>
	</header>
	<div class="contenedor" id="mainWrap">
		<main>
			<header>
				<h1>Registro</h1>
			</header>
			<form action="/usuario/registro" method="post">
				<div>
					<label for="FormRegistroCampoEmail">E-mail</label>
					<input type="email" name="email" class="controlForm" id="FormRegistroCampoEmail" required>
				</div>
				<div>
					<label for="FormRegistroCampoContrasenia">Contraseña</label>
					<input type="password" name="contrasenia" class="controlForm" id="FormRegistroCampoContrasenia" required>
				</div>
				<div>
					<label for="FormRegistroCampoContraseniaConfirmar">Confirmar contraseña</label>
					<input type="password" name="contraseniaConfirmar" class="controlForm" id="FormRegistroCampoContraseniaConfirmar" required>
				</div>
				<button type="submit" class="boton boton-primario">Crear</button>
				<a href="/usuario/login" class="boton">Cancelar</a>
			</form>
		</main>
	</div>
	<footer id="pie">
		<div class="contenedor">
			Copyright.
			<a href="/">Términos</a>
		</div>
	</footer>
</body>
</html>