<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/template2.css">
</head>
<body>
	<header id="masthead">
		<div class="contenedor">
			<h1>Lorem ipsum</h1>
		</div>
	</header>
	<div class="contenedor" id="mainWrap">
		<div id="personales">
			<article class="detalle datos">
				<header>
					<h2>Datos personales</h2>
				</header>
				<ul role="list">
					<li>
						<strong>Fecha de nacimiento:</strong>
						1 de enero de 1970, Buenos Aires
					</li>
					<li>
						<strong>Dirección:</strong>
						Calle Falsa 123, 4567, Ciudad Loquesea
					</li>
					<li>
						<strong>Teléfono celular:</strong>
						1245678910
					</li>
					<li>
						<strong>E-mail:</strong>
						nombre@example.com
					</li>
				</ul>
			</article>
			<article class="detalle perfil">
				<header>
					<h2>Perfil</h2>
				</header>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, maiores incidunt soluta, repellendus ipsum error quaerat dolores saepe omnis corporis aspernatur facilis illum corrupti illo eaque reiciendis officia tempora rerum?</p>
			</article>
		</div>
		<main>
			<article class="detalle">
				<header>
					<h2>Educación</h2>
				</header>
				<ul>
					<li>Otra carrera de una universidad</li>
					<li>Carrera de una universidad</li>
				</ul>
			</article>
			<article class="detalle detalleExperiencia">
				<header>
					<h2>Experiencia laboral</h2>
				</header>
				<section>
					<h3>Software</h3>
					<ul>
						<li>Una especialidad</li>
						<li>Otra especialidad</li>
						<li>Otra especialidad</li>
					</ul>
				</section>
				<section>
					<h3>Idiomas</h3>
					<ul>
						<li>Una especialidad</li>
						<li>Otra especialidad</li>
					</ul>
				</section>
			</article>
			<article class="detalle">
				<header>
					<h2>Objetivos</h2>
				</header>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, maiores incidunt soluta, repellendus ipsum error quaerat dolores saepe omnis corporis aspernatur facilis illum corrupti illo eaque reiciendis officia tempora rerum?</p>
			</article>
		</main>
	</div>
</body>
</html>
