<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/template3.css">
</head>
<body>
	<div class="contenedor" id="mainWrap">
		<header id="masthead">
			<h1>Lorem ipsum</h1>
		</header>
		<div id="personales">
			<article class="detalle datos">
				<header>
					<h2 id="p-nombre"></h2>
				</header>
				<ul role="list">
					
					<li>
						<strong id="p-direccion"></strong>
						
					</li>
					<li>
						<strong id="p-telefono"></strong>
						
					</li>
					<li>
						<strong id="p-correo"></strong>
						
					</li>
				</ul>
			</article>
			<article class="detalle perfil">
				<header>
					<h2 id="p-resumen">Perfil</h2>
				</header>
				<p></p>
			</article>
		</div>
		<main>
			<article class="detalle">
				<header>
					<h2>Educación</h2>
				</header>
				<ul id="p-academicos">
					<li>Otra carrera de una universidad</li>
					<li>Carrera de una universidad</li>
				</ul>
			</article>
			<article class="detalle detalleExperiencia">
				<header>
					<h2>Experiencia laboral</h2>
				</header>
				<section>
<!--					<h3>Software</h3>-->
					<ul id="p-trabajos">
						<li>Una especialidad</li>
						<li>Otra especialidad</li>
						<li>Otra especialidad</li>
					</ul>
				</section>
				<section>
					<h3>Idiomas</h3>
					<ul>
						<li>Una especialidad</li>
						<li>Otra especialidad</li>
					</ul>
				</section>
			</article>
			<article class="detalle">
				<header>
					<h2>Objetivos</h2>
				</header>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, maiores incidunt soluta, repellendus ipsum error quaerat dolores saepe omnis corporis aspernatur facilis illum corrupti illo eaque reiciendis officia tempora rerum?</p>
			</article>
		</main>
	</div>
</body>
</html>
